html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin: 0;
}

 /* サイドバーのスタイル */
 .sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -200px; /* 初期状態では非表示にする */
  background-color: #333;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s; /* アニメーション効果を追加 */
}

/* メニューアイテムのスタイル */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

/* アクティブなメニューアイテムのスタイル */
.sidebar a.active {
  background-color: #4CAF50;
}

/* サイドバーを表示するクラス */
.sidebar.active {
  right: 0;
}

.topwrapper{
  height: 7.5%;
  position: fixed;
  display: flex;
  margin: 0 auto;
  width: 100%;
  background-color: #ffffffed;
  color: #000000;
  box-sizing: border-box;
  float: left;
  vertical-align:middle;
  box-shadow: 0 1px 3px #0000004d;
}

.displaySidebar{
  float: right;
}

.header{
  width: 100%;
  padding: 15% 5% 5% 5%;
  background-color: #7272e1;
  color: #ffffff;
  box-sizing: border-box;
}

.home{
  display: flex;
  float: left;
}

h1{
  margin: 0;
}

.title{
  font-size: 2.5em;
}

.subtitle{
  font-size: 1em;
}

.rights{
  font-size: x-small;
  color: #c6c6f3;
}

.body{
  margin: 5% 0%;
}

.chobtn {
    background-color: #8282ff;
    color: #ffffff;
    border: 1px solid #8282ff;
    border-radius: 1em;
    margin: 5%;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 2em;
    box-shadow: 0px 3px 1px #5858ae;
  }
  .chobtn:hover {
    transform: translateY(3px);
    box-shadow: none;
  }

.result{
  font-size: 1em;
}

.race{
  font-size: 1.5em;
  color: #ff3c3cef;
}

.charaImage{
  width: 80%;
}

.credit{
  font-size: small;
}

.discription{
  text-align: left;
  background-color: #b5b5b5;
  border: dotted;
  margin: 5%;
  padding: 2%;
}
  